@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,900,700);

/*** DEFAULTS ***/
html{
    height:100%;
}
body {
    backface-visibility: hidden;
    background:url(../img/arrowBack-min.png) #f7f9fd center repeat;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin:0;
    min-height: 100vh;
    padding:0;
    top:0;
    width:100%;
}
h1{
    font-size:3rem;
    font-weight:700;
    text-transform: uppercase;
}
h2{
    font-size:1.5rem;
    font-weight:400;
}
h3{
    font-size:1.25rem;
    font-weight:400;
}
p{
    line-height: 1.4rem
}


/** Text & Background  manipulation **/
.text-blue {
    color: #090C9B;
}
.text-dark-gray {
    color: #222222;
}
.text-center {
    text-align: center;
}
.white-back{
    background: #F7F9FD;
}
.gray-back {
    background: #DDDDDD;
}



/*** HEADER ***/
.site-header {
    align-items: center;
    align-self:flex-start;
    background-color: #222222;
    background: rgba(0,0,0, 0.85);
    box-shadow: 0 6px 6px -5px  rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 6px 6px -5px  rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    display: -webkit-flex;
    min-height: 60px;
    height:60px;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    width:100%;
}


/** Logo & Branding **/
.logoholder {
    align-items: center;
    display: flex;
    display: -webkit-flex;
}
.svg_icon {
    fill:rgb(255,255,255);
}
.svg_icon:hover {
    fill:rgb(242,199,68);
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    text-decoration: none;
}
.logoicon {
    color: white;
    font-size: 0.9rem;
    font-weight: 700;
    padding-left: 10px;
    text-decoration: none;
}
.logotext {
    color: white;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 3px;
    padding:20px;
    text-decoration: none;
    text-transform: uppercase;
}
.logotext:hover {
    color:#F2C744;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
}



/*** NAVIGATION ***/
.site-nav {
    display: flex;
    display: -webkit-flex;
    margin-right: 60px;
}
.site-nav ul {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.site-nav li {
    border-right: 1px solid #444444;
}
.site-nav li:last-child {
    border-right: none;
}
.site-nav a,
.site-nav a:visited {
    color: #f7f9fd;
    display: inline-block;
    padding: 16px;
    text-transform: uppercase;
    text-decoration: none;
}
.site-nav a:hover,
.site-nav a:visited:hover {
    background: #1c1502;
    color: #F2C744;
    text-decoration: none;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
}
.site-nav a.active {
    color: #009CDE;
    background: rgba(0,5,7,0.25);
    font-weight: 400;
}


/** Menu Icon **/
#menubox {
    background: #555;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    text-align: center;
    position: absolute;
    display:none;
    right: 0;
    top: 0;
}
.menu_icon {
    width: 60px;
    height: 56px;
    margin-left: -2px;
    cursor: pointer;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.menupath {
    fill: none;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    -moz-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    -o-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    -ms-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    stroke-width: 40px;
    stroke-linecap: round;
    stroke: #fff;
    stroke-dashoffset: 0px;
}
.menupath#top,
.menupath#bottom {
    stroke-dasharray: 240px 950px;
}
.menupath#middle {
    stroke-dasharray: 240px 240px;
}
.cross .menupath#top,
.cross .menupath#bottom {
    stroke-dashoffset: -650px;
    stroke-dashoffset: -650px;
}
.cross .menupath#middle {
    stroke-dashoffset: -115px;
    stroke-dasharray: 1px 220px;
}



/*** CONTENT Holders ***/
main {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
}
.content-wrapper{
    display: flex;
    display: -webkit-flex;
}

.large-outer-glass{
    align-content: center;
    align-self: center;
    background-color: rgba(255,255,255,0.5);
    border: 1px solid #DDDDDD;
    box-shadow: 0 8px 6px -6px  rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 8px 6px -6px  rgba(0, 0, 0, 0.3);
    display: flex;
    display: -webkit-flex;
    height:auto;
    justify-content: center;
    -webkit-justify-content: center;
    margin: 30px auto;
    min-height: 300px; 
    max-width:1200px;
    min-width:240px;
    width:84%;
}
.large-inner-glass{
    background: white;
    background-color: rgba(255,255,255,0.5);
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    height:auto;
    margin:30px;
    min-height: 300px;
    min-width: 200px;
    padding:25px;
    width: 100%;
}
.large-inner-glass h1 {
    position: relative;
    text-align: center;
}

.large-inner-glass h1 span {
    background: white;
    padding: 0 15px;
    position: relative;
}
.large-inner-glass h1:before {
    background: #DDDDDD;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
}
.large-inner-glass h1:before {
    left: 0;
}
.large-inner-glass h3 {
    color:#555555;
    margin-top:-40px;
}
.large-inner-glass .email {
    margin-top:-10px;
}
.svg_large_logo {
    align-self: center;
    margin: 20px;
}
svg .a{fill:none;}


/**Specific Content **/
.full-info-holder{
    align-content: center;
    display: flex;
    display: -webkit-flex;
    flex: row wrap;
    -webkit-flex: row wrap;
    height:auto;
    justify-content: space-between;
    margin-bottom: 30px;
    max-height:800px;
    min-height: 300px;
    min-width:200px;
    padding:0 20px;
    position:relative;
    width:100%-40px;
}
.text-main{
    flex:0 1 auto;
    -webkit-flex:0 1 auto;
    height: auto;
    margin:0 5px;
    max-height:600px;
    min-width: 200px;
    order: 1;
    -webkit-order:1;
    padding:0 5px;
    position: relative;
}
.img-main{
    align-content: center;
    flex:0 1 auto;
    -webkit-flex:0 1 auto;
    height: auto;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    margin:0 5px;
    min-width: 200px;
    order: 2;
    -webkit-order:2;
    padding: 0 5px;
    position: relative;
    width:100%;
}
.img-main img {
    display:block;
    margin:0 auto;
    max-height: 500px;
    max-width: 100%;
}
.skills-box {
    align-content: center;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    max-height:600px;
    min-height:300px;
    min-width:200px;
    padding:0 20px 30px;
    position:relative;
    width:100%-40px;
}


/*** FOOTER ***/
.site-footer {
    align-items: center;
    align-self:flex-end;
    background: #AAAAAA;
    background-color: rgba(27,27,27,0.5);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    display: -webkit-flex;
    height:100px;    
    justify-content: space-between;
    -webkit-justify-content: space-between;
    min-height:100px;
    padding: 0;
    width:100%;
}
.copyright{
    align-items: center;
    color: #f7f9fd;
    display: flex;
    display: -webkit-flex;
    font-size: 1rem;
    font-weight: 400;
    padding:30px 20px;
    text-decoration: none;
    text-transform: uppercase;
}
.lower-nav {
    display: flex;
}
.lower-nav ul{
    display: flex;
    display: -webkit-flex;
    flex:wrap;
    -webkit-flex:wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.lower-nav a,
.lower-nav a:visited {
    color: #f7f9fd;
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    text-transform: lowercase;
}
.lower-nav a:hover {
    color: #F2C744;
    text-decoration: none;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    -webkit-text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
}
.social-media {
    color: white;
    display: flex;
    display: -webkit-flex;
    font-size: 1.4rem;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin-right:60px;
    width:160px;
}
.social-media a, .social-media a:visited {
    color: white;
    text-decoration: none;
}
.social-media a:hover {
    color: #F2C744;
    text-decoration: none;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    -webkit-text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
}



/***** RESPONSIVE FIXES *****/
/** Tablets **/
@media (min-width : 500px)
and (max-width : 800px){
    h1{
        font-size:2.25rem;
        font-weight:700;
        text-transform: uppercase;
    }
    h2{
        font-size:1.3rem;
        font-weight:400;
    }
    h3{
        font-size:1.1rem;
        font-weight:400;
    }
    p{
        line-height: 1.25rem
    }
    #menubox, .menuicon {
        display: none;
    }
    .site-header {
        flex-wrap: wrap;
        -webkit-flex-wrap:wrap;
    }
    .site-nav {
        background: #444444;
        background-color: rgba(27,27,27,0.75);
        box-shadow: inset 0px 1px 6px 0px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: inset 0px 1px 6px 0px rgba(0, 0, 0, 0.4);
        margin-right: 0;
        order: 2;
        -webkit-order:2;
        width: 100%;
    }   
    .site-nav ul {
        box-shadow: 0 6px 6px -6px  rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0 6px 6px -6px  rgba(0, 0, 0, 0.5);
        width:100%;
    }
    .large-inner-glass h3 {
        margin-top:-30px;
    }
    .content-wrapper{
        margin-top: 50px;
    }
    .lower-nav ul{
        display: none;
    }
    .full-info-holder{
        align-content: center;
        box-sizing: border-box;
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    text-main{
        -webkit-flex:1 0 auto;
    }
}


/** Phones **/
@media only screen
and (max-width : 500px) {
    h1{
        font-size:2.25rem;
        font-weight:700;
        text-transform: uppercase;
    }
    h2{
        font-size:1.3rem;
        font-weight:400;
    }
    h3{
        font-size:1.1rem;
        font-weight:400;
    }
    p{
        line-height: 1.25rem
    }
    .logoholder {
        height:60px;
    }
    #menubox, .menuicon {
        display: inline;
    }
    .site-header {
        flex-flow: wrap;
        height:60px;
    }
    .site-nav {
        background: #444444;
        display:flex;
        display: -webkit-flex;
        flex-flow: column wrap;
        -webkit-flex-flow: column wrap;
        -webkit-flex-direction:column;
        margin-right: 0;
        overflow: visible;
        width: auto;
        z-index: 1;
    }
    .site-nav .responsive ul {
        display:table-column;
    }
    .site-nav .responsive li {
        border-bottom: 1px solid #555555;
        display: table-cell;
        height:50px;
        padding:0;
        position: relative;
        width: 100%;
    }
    .site-nav .responsive li a {
        display: table-cell;
        height:20px;
        padding-left:15px;
        position: relative;
        vertical-align: middle;
        width: 500px;
    }
    .site-nav li {
        display: none;
    }
    .large-inner-glass h3 {
        margin-top:-30px;
    }
    .large-inner-glass h1 span {
        padding: 0;
    }
    .portfolio-cards{
        margin-left:-20px;
        padding:0;
    }
    .lower-nav ul{
        display: none;
    }
    .social-media {
        display: none;
    }
    .full-info-holder{
        flex-direction: column;
        -webkit-flex-direction:column;
    }
    .full-info-holder, .text-main, .img-main {
        padding: 0;
        margin: 0;
    }
    
}